@import "./global/global.css";
@import "./utilities/colors.css";
@import "./utilities/typo.css";
@import "./home/intro.css";
@import "./home/header.css";
@import "./utilities/utilities.css";
@import "./bikes/bikes.css";
@import "./home/tecno.css";
@import "./home/partners.css";
@import "./home/statement.css";
