:root {
  --c12: #000;
  --c11: #111;
  --c10: #2e2e2e;
  --c9: #404040;
  --c8: #595959;
  --c7: #717171;
  --c6: #9c9c9c;
  --c5: #b2b2b2;
  --c4: #cccccc;
  --c3: #dedede;
  --c2: #ededed;
  --c1: #f7f7f7;
  --w: #ffffff;
  --p5: #332200;
  --p4: #664400;
  --p3: #a66f00;
  --p2: #e4a30b;
  --p1: #ffbb00;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header_bg {
  background-color: var(--c12);
}

.header_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header_menu a {
  padding: 16px 0px;
  display: inline-block;
  color: var(--w);
  font-size: 18px;
  position: relative;
}

.header_menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--w);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header_menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header_menu {
    gap: 20px;
  }

  .header_menu a::after {
    display: none;
  }

  .header_menu a {
    background: var(--c11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header_menu a:hover {
    background-color: var(--c10);
  }
}

@media (max-width: 600px) {
  .header_menu {
    gap: 12px;
  }

  .header_menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
