.bikes_bg {
  background: linear-gradient(to right, var(--w) 30%, var(--c11) 0%);
}

.bikes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../img/dec/top-right.svg") no-repeat top 40px right 20px;
}

.bikes_img {
  position: relative;
}

.bikes_img span {
  display: inline-block;
  background-color: var(--c12);
  padding: 8px 16px 8px 8px;
  position: absolute;
  top: 20px;
  right: 0px;
  border-radius: 4px 0 0 4px;
}

.bikes_content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bikes h2,
.bikes p {
  grid-column: 1/-1;
}

.bikes h2 {
  margin-bottom: 20px;
}

.bikes h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  margin-bottom: 8px;
}

.bikes p {
  margin-bottom: 32px;
}

.bikes a {
  place-self: end;
}

.bikes ul {
  display: grid;
  gap: 16px;
}

.bikes li {
  display: flex;
  align-items: center;
}

.bikes_content img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bikes_bg {
    background: var(--c11);
  }
  .bikes {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bikes_content {
    grid-template-columns: 1fr;
  }
  .bikes a {
    place-self: start;
  }
  .bikes ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
}
