.bike_list {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bike_list ul {
  display: flex;
  gap: 40px;
  padding: 0px 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.bike_list li {
  min-width: 280px;
}

.bike_list a {
  display: block;
}

.bike_list img {
  margin-bottom: 16px;
}

.bike_list h2 {
  margin-bottom: 40px;
}

.bike_list h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bike_list h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  background: var(--p1);
  margin-right: 8px;
  transition: width 0.2s;
}

.bike_list a:hover h3::before {
  width: 24px;
}

.bike_list li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bike_list {
    padding-bottom: 60px;
  }
  .bike_list ul {
    gap: 20px;
  }

  .bike_list a:hover h3::before {
    width: 12px;
  }
  .bike_list h3::before {
    transition: none;
  }
}
