.bike {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#bike .title p {
  text-transform: uppercase;
}

.bike_img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bike_img img {
  flex: 1;
  min-width: 200px;
}

.bike_img img:first-child {
  min-width: 100%;
}

.bike_content > p {
  margin-bottom: 32px;
}

.bike_buy {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bike_buy a {
  grid-row: span 2;
}

.bike_buy span {
  display: flex;
  align-items: center;
  background-color: var(--c12);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 8px;
}

.bike_content h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.bike_info,
.bike_tecnical {
  padding: 32px;
  border-radius: 4px;
  background-color: var(--c12);
}

.bike_info {
  display: grid;
  grid-template: 1fr 1fr;
  margin-bottom: 40px;
  gap: 32px;
}

.bike_info img {
  width: 24px;
  margin-bottom: 8px;
}

.bike_info h3 {
  margin-bottom: 8px;
}

.bike_tecnical li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--c11);
}

.bike_tecnical li:last-child {
  border-bottom: none;
}

.bike_tecnical span {
  color: var(--c6);
}

@media (max-width: 800px) {
  .bike {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bike_img {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .bike_info {
    grid-template-columns: 1fr;
  }

  .bike_buy {
    grid-template-columns: 1fr;
  }
}
