.insurance_bike_bg {
  background-color: var(--c11);
  box-shadow: var(--fake_shadow_b), var(--fake_black);
}

.insurance_bike {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.insurance_bike_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.insurance_bike_content {
  padding-top: 180px;
  padding-bottom: 180px;
}

.insurance_bike h2 {
  margin-bottom: 32px;
}

.insurance_bike p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .insurance_bike {
    grid-template-columns: 1fr;
  }

  .insurance_bike_bg {
    box-shadow: inset 0px -60px var(--c12);
  }

  .insurance_bike_content {
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0px;
  }
}
