.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  background: var(--gradient);
  border-radius: 4px;
  box-shadow: var(--shadow);
  text-transform: uppercase;
  color: var(--p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.button:hover {
  background: var(--gradient_shadow);
}

.link {
  display: inline-block;
  color: var(--p1);
}

@media (max-width: 600px) {
  .button {
    padding: 16px 12px;
    font-size: 1rem;
  }
}
