.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  max-width: max-content;
  background: var(--gradient);
  border-radius: 4px;
  box-shadow: var(--shadow);
  text-transform: uppercase;
  color: var(--p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.button:hover {
  background: var(--gradient_shadow);
}

.button.two {
  background: var(--c10);
  color: var(--c2);
}

.button.two:hover {
  background: var(--c9);
  color: var(--c2);
}

.button.arrow {
  display: flex;
  align-items: center;
}

.button.arrow::after {
  content: "";
  height: 10px;
  width: 18px;
  display: inline-block;
  margin-left: 12px;
  background: url("../../img/icones/seta.svg");
  transition: transform 0.2s;
}

.button.arrow:hover::after {
  transform: translateX(4px);
}

.link {
  display: inline-block;
  color: var(--p1);
}

.title_bg {
  background: var(--c11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.title p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .title_bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .title p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .button {
    padding: 16px 12px;
    font-size: 1rem;
  }
}
