.insurance_bg {
  background: var(--c11);
}

.insurance {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
}

.insurance h2 {
  grid-column: 1/-1;
}

.insurance_item {
  background-color: var(--c12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.insurance h3 {
  margin-bottom: 40px;
}

.insurance_item span {
  grid-column: 2;
  display: block;
  text-align: right;
}

.insurance_item ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.insurance_item ul li {
  display: flex;
  align-items: center;
  position: relative;
}

.insurance_item ul li + li {
  margin-top: 20px;
}

.insurance_item ul a {
  grid-column: 1/-1;
}
.insurance_item li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url("../../img/icones/lista.svg");
  position: absolute;
  left: -21px;
}

@media (max-width: 800px) {
  .insurance {
    grid-template-columns: 1fr;
  }
}
