#contact {
  background: linear-gradient(var(--c11) 600px, var(--c1) 0px);
}

.contact {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contact_data,
.contact_formu {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact_data {
  background: var(--c12) url("../../img/dec/bottom-left.svg") no-repeat bottom
    20px left 20px;
  border-radius: 5px 0 0 5px;
}

.contact_formu {
  background: var(--w) url("../../img/dec/bottom-right.svg") no-repeat bottom
    20px right 20px;
  border-radius: 0 5px 5px 0;
}

.contact_data h2 {
  margin-bottom: 60px;
}

.contact_address {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url("../img/icones/local.svg") no-repeat 0px 2px;
}

.contact_address p {
  margin-bottom: 8px;
}

.contact_ways a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contact_ways a:hover {
  color: var(--w);
}

.contact_ways a:first-child {
  background: url("../img/icones/email.svg") no-repeat 0px 2px;
}

.contact_ways a:nth-child(2) {
  margin-bottom: 32px;
}

.contact_ways a:nth-child(3) {
  background: url("../img/icones/telefone.svg") no-repeat 0px 2px;
  margin-bottom: 60px;
}

.contact_social {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

@media (max-width: 800px) {
  #contact {
    background: linear-gradient(var(--c11) 500px, var(--c1) 0px);
  }

  .contact {
    grid-template-columns: 1fr;
  }
  .contact_data,
  .contact_formu {
    padding: 20px;
  }

  .contact_data {
    border-radius: 5px 5px 0 0;
    background: var(--c12);
  }

  .contact_formu {
    border-radius: 0 0 5px 5px;
  }
  .contact_data h2,
  .contact_ways a:nth-child(3) {
    margin-bottom: 32px;
  }
  .contact_social {
    margin-bottom: 12px;
  }
}
