.stores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.stores h2 {
  grid-column: 1/-1;
  margin-bottom: 60px;
}

.stores img {
  border-radius: 4px 4px 0 0;
}

.store_item {
  border-radius: 4px;
  background-color: var(--w);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.store_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 16px;
  padding: 32px;
}

.store_content h3,
.store_content {
  grid-column: 1/-1;
}

.store_data {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--c2);
  padding-left: 12px;
}

.store_time {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 800px) {
  .stores {
    gap: 20px;
  }
  .stores h2 {
    margin-bottom: 32px;
  }

  .store_content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .stores {
    grid-template-columns: 1fr;
  }
}
