.intro_bg {
  background: var(--c12);
  color: var(--w);
  box-shadow: var(--fake_shadow);
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.intro_content {
  align-self: end;
  padding-bottom: 200px;
}

.intro img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.intro h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}

.intro p {
  margin-bottom: 20px;
  color: var(--c5);
}

@media (max-width: 1200px) {
  .intro h1 {
    font-size: 48px;
  }
  .intro p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .intro_bg {
    background: var(--c11);
    padding-top: 40px;
    box-shadow: var(--fake_shadow_2);
  }

  .intro h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .intro_content {
    padding-bottom: 0px;
  }
  .intro img {
    height: 300px;
    width: 100%;
  }
}
