.tecno_bg {
  background-color: var(--c11);
  box-shadow: var(--fake_shadow_3), var(--fake_shadow_4);
}

.tecno {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecno_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecno_content {
  padding-top: 160px;
  padding-bottom: 160px;
}

.tecno_content > span {
  display: block;
  margin-bottom: 20px;
}

.tecno_content h2 {
  margin-bottom: 32px;
}

.tecno_content > p {
  margin-bottom: 20px;
}

.tecno_content a {
  margin-bottom: 80px;
}

.tecno_vant {
  display: flex;
  gap: 40px;
}

.tecno_vant h3 {
  margin-bottom: 8px;
  max-width: max-content;
}

.tecno_vant img {
  width: 24px;
  margin-bottom: 8px;
}

.link::after {
  display: block;
  content: "";
  border-radius: 4px;
  height: 4px;
  width: 100%;
  background-color: currentColor;
}

.link:hover {
  color: var(--w);
}

@media (max-width: 800px) {
  .tecno_bg {
    box-shadow: initial;
  }
  .tecno {
    grid-template-columns: 1fr;
  }
  .tecno_content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tecno_img {
    display: none;
  }
  .tecno a {
    margin-bottom: 60px;
  }
}

@media (max-width: 800px) {
  .tecno_vant {
    flex-direction: column;
  }
}
